.container {
    padding: 50px 30px;
    text-align: center;
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #bcb0fc;
    min-height: 40vh;
  }
  
.heading {
    max-width: 500px;
    color: black;
    line-height: 4.3rem;
    margin: 0 auto; /* Add this to remove margin */
    font-size: 3.1rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
 
.heading span{
    /* background-color: blueviolet; */
    background-clip: text;
    background-image: linear-gradient(to right, #6f52f2,rgb(21, 0, 159));
    color: transparent;
}

.right img{
    width: 400px;
    
}